
          
   
          
           a {
              display: block;
              color:black;
              text-align: center;
             
              padding: 5px 5px;
              text-decoration: none;
              border-width: 1px 1px 1px 1px;
              border-style:solid;
              margin-left: 0px;
              width: 50px;
              background-color: rgb(173, 173, 240);
              border-radius: 8px;
          }
          
           a:active {
              background-color:gray;
          }